<ion-header color="white">
    <ion-toolbar color="#fff">
        <ion-title>绑定微信号成功</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <div class="info">
        <ion-avatar>
            <img src="../../../../assets/imgs/img_avatar_default.png" alt="">
        </ion-avatar>
        <h6 class="name">微信用户</h6>
    </div>

    <div padding-vertical margin-top>
        <ion-button color="medium" expand="block" shape="round" fill="outline" class="time-btn">{{time}}秒后请重新登录</ion-button>
    </div>
</ion-content>