<ion-header color="white">
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(me:me)"></ion-back-button>
        </ion-buttons>
        <ion-title>账单明细</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-segment (ionChange)="segmentChanged($event)" mode="md" value="{{tag}}">
        <ion-segment-button value="0">全部</ion-segment-button>
        <ion-segment-button value="1">救助</ion-segment-button>
        <ion-segment-button value="2">缴年费</ion-segment-button>
        <ion-segment-button value="3">乐捐</ion-segment-button>
        <ion-segment-button value="4">积分</ion-segment-button>
    </ion-segment>

    <div *ngIf="tag == 0">
        <ion-list class="bill-list">
            <ion-item-divider>
                <ion-label>
                    本月
                </ion-label>
            </ion-item-divider>
            <ion-item justify-content-between (click)="goDetail()">
                <ion-avatar>
                    <ion-icon name="ios-checkmark-circle" color="tertiary"></ion-icon>
                </ion-avatar>
                <ion-label padding-start>
                    <span class="title">余额充值</span>
                    <br>
                    <span class="time">今天 04:37</span>
                </ion-label>
                <ion-label text-right class="in">+36</ion-label>
            </ion-item>
            <ion-item justify-content-between (click)="goDetail()">
                <ion-avatar>
                    <ion-icon name="ios-checkmark-circle" color="tertiary"></ion-icon>
                </ion-avatar>
                <ion-label padding-start>
                    <span class="title">余额充值</span>
                    <br>
                    <span class="time">昨天 04:37</span>
                </ion-label>
                <ion-label text-right class="in">+36</ion-label>
            </ion-item>
            <ion-item justify-content-between (click)="goDetail()">
                <ion-avatar>
                    <img src="../../../../assets/imgs/avatar.png" alt="">
                </ion-avatar>
                <ion-label padding-start>
                    <span class="title">2017年6月第一期扣费</span>
                    <br>
                    <span class="time">08-11 04:37</span>
                </ion-label>
                <ion-label text-right class="out">-2036</ion-label>
            </ion-item>
            <ion-item-divider>
                <ion-label>
                    2018年9月
                </ion-label>
            </ion-item-divider>
            <ion-item justify-content-between (click)="goDetail()">
                <ion-avatar>
                    <img src="../../../../assets/imgs/avatar.png" alt="">
                </ion-avatar>
                <ion-label padding-start>
                    <span class="title">年服务费充值</span>
                    <br>
                    <span class="time">09-13 04:37</span>
                </ion-label>
                <ion-label text-right class="in">+36</ion-label>
            </ion-item>
            <ion-item justify-content-between (click)="goDetail()">
                <ion-avatar>
                    <img src="../../../../assets/imgs/avatar.png" alt="">
                </ion-avatar>
                <ion-label padding-start>
                    <span class="title">年服务费充值</span>
                    <br>
                    <span class="time">09-11 04:37</span>
                </ion-label>
                <ion-label text-right class="in">+36</ion-label>
            </ion-item>
        </ion-list>
    </div>

    <div *ngIf="tag == 1">
        <div class="no-data">
            救助暂无数据
        </div>
    </div>

    <div *ngIf="tag == 2">
        <div class="no-data">
            缴年费暂无数据
        </div>
    </div>

    <div *ngIf="tag == 3">
        <div class="no-data">
            乐捐暂无数据
        </div>
    </div>

    <div *ngIf="tag == 4">
        <div class="no-data">
            积分暂无数据
        </div>
    </div>

</ion-content>