<ion-header no-border>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(me:me)"></ion-back-button>
        </ion-buttons>
        <ion-title>乐捐申请</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <img src="../../assets/imgs/img_lejuan@2x.png" />
    </ion-row>
    <div class="log-list">
        <ion-row>
            <ion-col size="1" class="log-arc">
                <div class="redArc"></div>
                <div class="solid"></div>
            </ion-col>
            <ion-col size="11" no-padding>
                <ion-text class="name">
                    申请
                </ion-text>
                <ion-text class="add">
                    点击下方，立即申请。根据指引填写相关信息
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1" class="log-arc">
                <div class="redArc"></div>
                <div class="solid"></div>
            </ion-col>
            <ion-col size="11" no-padding>
                <ion-text class="name">
                    案件初审
                </ion-text>
                <ion-text class="add">
                    初步审核材料，确认是否达到乐捐条件
                    达到乐捐条件，平台将委托第三方专业机构实地查勘审核，核实评估费用由申请人承担，在救助金中予以扣除
                    未达到乐捐条件，平台将及时告知申请会员
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1" class="log-arc">
                <div class="redArc"></div>
                <div class="solid"></div>
            </ion-col>
            <ion-col size="11" no-padding>
                <ion-text class="name">
                    案件公示
                </ion-text>
                <ion-text class="add">
                    审核通过后，将通过心安救助平台公示7天
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="1" class="log-arc">
                <div class="redArc"></div>
            </ion-col>
            <ion-col size="11" no-padding>
                <ion-text class="name">
                    募款
                </ion-text>
                <ion-text class="add">
                    在线接受公众捐款
                </ion-text>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-footer>
    <ion-button routerLink="/giving_apply/apply_lj" expand="block">立即申请/查看申请记录</ion-button>
</ion-footer>