ion-header {
    ion-toolbar {
        display: flex;
    }

    ion-title {
        font-size: 20px;
        font-weight: 500;
    }
}

ion-content {
    --background: #fff;

    ion-list {
        background: #fff;
    }

    .list {

        .item {

            color: #c8c7cc;

            .item-inner {
                border-bottom: 0.55px solid #e6e6e6;
            }
        }

        //修改placeholder颜色
        ion-input input::-ms-input-placeholder,
        ion-input input::-webkit-input-placeholder,
        ion-input input::-moz-placeholder {
            color: #c8c7cc;
        }
    }

    .set-default {
        display: inline-block;
        line-height: 35px;
        padding-top: 8px;

        ion-checkbox {
            zoom: 0.7;
            vertical-align: middle;
        }
    }

    [type=submit] {
        -webkit-appearance: none;
    }
}