<ion-header color="white">
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="info/address"></ion-back-button>
        </ion-buttons>
        <ion-title>添加收货地址</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form #formRef="ngForm" (ngSubmit)="addAddress(formRef)">
        <ion-list>
            <ion-item no-padding>
                <ion-label position="floating">省份</ion-label>
                <ion-input type="text" #province="ngModel" name="receiver" color="dark" required [(ngModel)]="new.province"></ion-input>
            </ion-item>
            <ion-item no-padding>
                    <ion-label position="floating">手机号</ion-label>
                   <ion-input type="tel" name="phone" color="dark" required minlength="11" maxlength="11" pattern="^[1][3,4,5,7,8,9][0-9]{9}$"
                    [(ngModel)]="new.phone" #newPhoneRef="ngModel"></ion-input>
                </ion-item>
                <ion-item no-padding>
                        <ion-label position="floating">联系人</ion-label>
                        <ion-input type="text" #name="ngModel" name="area" color="dark" required [(ngModel)]="new.name"></ion-input>
                    </ion-item>
            <ion-item no-padding>
                <ion-label position="floating">城市</ion-label>
                <ion-input type="text" #city="ngModel" name="receiver" color="dark" required [(ngModel)]="new.city"></ion-input>
                <!-- <ion-input type="tel" name="phone" color="dark" required minlength="11" maxlength="11" pattern="^[1][3,4,5,7,8,9][0-9]{9}$"
                    [(ngModel)]="new.phone" #newPhoneRef="ngModel"></ion-input> -->
            </ion-item>
            <ion-item no-padding>
                <ion-label position="floating">所在地区</ion-label>
                <ion-input type="text" #district="ngModel" name="area" color="dark" required [(ngModel)]="new.district"></ion-input>
            </ion-item>
            <ion-item no-padding>
                <ion-label position="floating">详细地址</ion-label>
                <ion-input type="text" #address="ngModel" name="address" color="dark" required [(ngModel)]="new.address"></ion-input>
            </ion-item>

            <div class="set-default">
                <ion-checkbox name="default" mode="ios" size="small" color="secondary" [(ngModel)]="new.default"></ion-checkbox>
                设为默认地址
            </div>

        </ion-list>

        <div>
            <ion-button [disabled]="newPhoneRef.errors || name.errors || province.errors || city.errors || district.errors || address.errors" color="secondary" expand="block" shape="round" type="submit">保 存</ion-button>
        </div>
    </form>
</ion-content>