<ion-header>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(home:home)"></ion-back-button>
        </ion-buttons>
        <ion-title>帮扶成功</ion-title>
        <ion-buttons slot="end">
            <ion-icon slot="start" name="md-share"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-row align-items-center>
            <ion-col class="img">
                <img src="../../assets/imgs/banner_shangcheng@2x.png" />
            </ion-col>
        </ion-row>
    </div>
    <div class="message">
        <ion-row align-items-center>
            <ion-col align-items-center>
                <h1>您成功乐捐100元！</h1>
                <p class="p-pay">支付方式：微信支付</p>
                <p class="p-help">
                    <ion-icon class="j-icon1" name="checkmark-circle"></ion-icon>关注帮扶对象
                </p>

            </ion-col>
        </ion-row>
    </div>
    <div class="shared">
        <p>完成</p>
    </div>
</ion-content>