<ion-header no-border translucent>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" defaultHref="/tabs/(about:about)"></ion-back-button>
        </ion-buttons>
        <ion-title>商品详情</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="detailInfo">
    <img [src]="_apiUrlService.baseUrl + 'public/uploads/' + detailInfo.file.savepath + detailInfo.file.savename" />
    <!-- <ion-slides *ngIf="imgs" #slides pager="true" (ionSlideTouchStart)="ionSlideTouchStart()" [options]="options">
        <ion-slide *ngFor="let img of imgs">
            <img src="{{img}}" />
        </ion-slide>
    </ion-slides> -->
    <ion-row>
        <ion-text class="text_tit">{{detailInfo.name}}</ion-text>
        <ion-text [innerHTML]="detailInfo.detail"></ion-text>
        <ion-text class="text_red">
            <span>¥{{detailInfo.price}} / {{detailInfo.unit}}</span>
            <i>商城价:{{detailInfo.old_price}}</i>
        </ion-text>
        <ion-text>
            <ul class="J_TSaleProp tb-clearfix">
                <li *ngFor="let product_sku of detailInfo.product_sku" [ngClass]="{'tb-selected': product_skuItem == product_sku}" (click)="product_skuItem = product_sku">
                    <a class="product_sku_item">{{product_sku.name}}</a>
                </li>
            </ul>
        </ion-text>   
    </ion-row>
    <ion-row class="addRemove">
        <ion-col size="8.5">
            <span>数量</span>
        </ion-col>
        <ion-col size="3.5">
            <ion-card class="calculate">
                <ion-icon (click)="remove();" name="remove" [ngClass]="{'highlight': remHigh}"></ion-icon>
                <ion-label>{{years}}</ion-label>
                <ion-icon (click)="add();" name="add" [ngClass]="{'highlight': addHigh}"></ion-icon>
            </ion-card>
        </ion-col>
    </ion-row>
   
   
</ion-content>

<ion-footer>
    <ion-row align-items-center class="total">
        <!-- routerLink="/card" -->
        <ion-col size="4" routerLink="/card">
            <ion-badge color="primary">{{cartNumb}}</ion-badge>
            <ion-icon name="md-cart"></ion-icon>
        </ion-col>
        <ion-col size="4">
            <!-- (click)="shoppingCart()" -->
            <ion-button (click)="addToShopcar()" fill="outline" class="white" expand="block">加入购物车</ion-button>
        </ion-col>
        <ion-col size="4">
            <ion-button (click)="buyNow()" expand="block">立即购买</ion-button>
        </ion-col>
    </ion-row>
</ion-footer>