<ion-header>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(home:home)"></ion-back-button>
        </ion-buttons>
        <ion-title>加入成功</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="join-title">
        <ion-grid>
            <!-- <ion-row justify-content-around>
        <ion-fab-button color="tertiary" class="j-icon1">
          <ion-icon name="checkmark" md="md-checkmark"></ion-icon>
        </ion-fab-button>
      </ion-row> -->
            <ion-row justify-content-center>
                <ion-icon class="j-icon1" name="checkmark-circle"></ion-icon>
            </ion-row>
            <p class="j-p1">您已加入心安大病救助基金！</p>
            <ion-row class="but">
                <ion-col size="6">
                    <ion-button shape="round" color="secondary" fill="outline">添加亲友</ion-button>
                </ion-col>
                <ion-col size="6">
                    <ion-button shape="round" color="secondary" fill="outline">查看权益</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div class="join-content">
        <div class="circle-serve1"></div>
        <div class="circle-serve2"></div>

        <ion-card>
            <ion-card-content>
                <div class="border-serve">
                    <h3 class="j-name">林慧光</h3>
                    <p class="j-card">61026544226586</p>
                </div>

                <ion-list>
                    <dl>
                        <dd>心安全民大病救助基金</dd>
                        <dt><span>救助内容</span>80中重大疾病</dt>
                        <dt><span>最高救助</span>150万元</dt>
                        <dt><span>捐助人数</span>2168人</dt>
                        <dt><span>加入年龄</span>0-58周岁(不含58周岁)</dt>
                        <dt><span>加入人数</span>60246人</dt>
                        <dt><span>已捐助金额</span>208万元</dt>
                    </dl>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <div class="shared">
            <p>分享</p>
        </div>
        <!-- <ion-grid>
      <ion-row justify-content-center>
        <ion-button shape="round" color="white" fill="outline">分享</ion-button>
      </ion-row>
    </ion-grid> -->
    </div>

</ion-content>