<ion-header>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(about:about)"></ion-back-button>
        </ion-buttons>
        <ion-title>全部分类</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-grid>
        <ion-row>
            <ion-col size="3" class="menus">
                <ion-virtual-scroll [items]="categories" approxItemHeight="100%">
                    <ion-item lines="none" *virtualItem="let item;let i=index" class="menuItem" [ngClass]="{'active': i==0}"
                        (click)="itemClick(item, $event)">
                        <span>{{item.name}}</span>
                    </ion-item>
                </ion-virtual-scroll>
            </ion-col>
            <ion-col size="9" class="items" style="    overflow: auto;">
                    <ion-products [products]="products"></ion-products>
                <!-- <ion-virtual-scroll [items]="products" approxItemHeight="100%">
                   
                </ion-virtual-scroll> -->
                <!-- <ion-row>
                    <ion-col class="nodata" text-center *ngIf="!hasmore">
                        没有商品啦 ♪(^∇^*)
                    </ion-col>
                    <ion-infinite-scroll *ngIf="hasmore" threshold="100px" (ionInfinite)="loadData($event)">
                        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </ion-row> -->
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>