<ion-header no-border>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(me:me)"></ion-back-button>
        </ion-buttons>
        <ion-title>我的</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="block"></div>
    <div class="info" text-center>
        <ion-avatar class="avatar">
            <img src="../../../assets/imgs/avatar.png" alt="">
        </ion-avatar>
        <div class="name_create">
            <h6 class="name">林慧光</h6>
            <ion-icon class="sex" name="female"></ion-icon>
            <br>
            <ion-chip class="position">
                <ion-icon name="pin"></ion-icon>
                <ion-label>陕西省</ion-label>
            </ion-chip>
        </div>
    </div>
    <div class="signature" text-center>
        <p>大爱无疆，心安成河。无病我帮人，患病总众助我。</p>
    </div>
</ion-content>