ion-header {

    ion-toolbar {
        display: flex;
    }

    ion-toolbar:first-child {
        background: #fff;
        box-shadow: 0px 2.5px 12px 0 rgba(153, 153, 153, 0.2);

    }
}

ion-content {
    .content {
        padding: 40px;
        background: #fff;

        .name {
            font-size: 11px;
            font-weight: 500;
            color: #666666;
            text-align: center;
        }

        p {
            font-size: 32px;
            font-weight: bold;
            color: #424242;
            text-align: center;
            margin-top: 15px;

        }
    }
}

ion-footer {
    bottom: 0px;
    position: absolute;

    ion-row {
        display: flex;
        flex-direction: row-reverse;


        ion-col {
            width: 100px;
            margin-left: 12px;
        }
    }

}
