<ion-row *ngIf="data" (click)="details(data.product_id)">
    <ion-col no-padding size="4">
        <ion-img [src]="_apiUrlService.baseUrl + 'public/uploads/' + data.product.file.savepath + data.product.file.savename"></ion-img>
    </ion-col>
    <ion-col no-padding size="8" class="pro-name">
        <ion-text class="name">{{data.product.name}}</ion-text>
        <ion-text class="add">
            ￥{{data.price}}
            <span>x{{data.num}}</span>
        </ion-text>
    </ion-col>
</ion-row>