<ion-header>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(fond:fond)"></ion-back-button>
        </ion-buttons>
        <ion-title>通知</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <div class="content">
        <div class="con">
            <p class="time">08月01日 13:20</p>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-icon name="heart" class="lightred"></ion-icon>
                        <h1 class="name">救助申请审核</h1>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="page">您提交的救助申请已通过审核，其他即将进入公示期。</p>
                </ion-card-content>
            </ion-card>
        </div>
        <div class="con">
            <p class="time">08月01日 13:20</p>
            <ion-card>
                <ion-card-header>
                    <ion-card-title>
                        <ion-icon name="md-rose" class="tertiary"></ion-icon>
                        <h1 class="name">乐捐申请审核</h1>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <p class="page">您提交的乐捐申请未通过审核，请重新填写资料并提交审核。</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

</ion-content>