<ion-header color="white">
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="info/bill-list"></ion-back-button>
        </ion-buttons>
        <ion-title>详情</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="detail">
        <ion-grid class="detail-title" text-center padding-top>
            <ion-icon class="mark-icon" name="checkmark-circle" color="tertiary"></ion-icon>
            <p class="title">2017年6月第1期扣费</p>
            <p class="money out">-2031.00</p>
        </ion-grid>
        <ion-list lines="none">
            <ion-item no-padding lines="none">
                <ion-label>
                    <p class="name">账单状态 <span>交易成功</span></p>
                    <p class="name">支付方式 <span>微信支付</span></p>
                    <p class="name">捐助人 <a>林慧光<ion-icon name="ios-arrow-forward"></ion-icon></a></p>
                    <p class="name">创建时间 <span>2018-10-19 16:20:34</span></p>
                    <p class="name">订单编号 <span>3265974646</span></p>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>