<ion-header no-border [ngStyle]="{'background-image':'url('+userInfo.backgroundImg.value+')'}">
    <ion-toolbar color="#fff">
        <ion-title>我的</ion-title>
        <ion-buttons slot="end" margin-right class="end">
            <ion-button (click)="jumpTo('/settings','',userInfo)">
                <!-- <i class="iconfont icon-setting" color="white"></i> -->
                <ion-icon name="md-settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="user" [ngStyle]="{'background-image':'url('+userInfo.backgroundImg.value+')'}" (click)="changeBackground()">
        <div class="upLoad-img" *ngIf="!isLogged">
            <img src="{{this.userInfo.avatar.value}}" />
        </div>
        <upload-head *ngIf="isLogged"></upload-head>
        <div class="user-load" (click)="$event.stopPropagation()">
            <p class="name_create" *ngIf="!isLogged" routerLink="/auth/sign-in">
                <span>登录</span>
                <span>/</span>
                <span>注册</span>
            </p>
            <p *ngIf="isLogged" class="name_create">
                <span class="name" (click)="jumpTo('/info/name-edit','',userInfo.nickname)">{{this.userInfo.nickname.value}}</span>&nbsp;&nbsp;
                <ion-icon class="sex" name="{{userInfo.sex.value === 'female' ? 'female' : 'male'}}"></ion-icon>
                <ion-chip class="position">
                    <ion-icon name="pin"></ion-icon>
                    <ion-text>陕西省</ion-text>
                </ion-chip>
                <br />
                <span class="account">心安号：{{userInfo.heartSafteyAccount.value}}</span>
                <br />
                <span class="span_btn" (click)="jumpTo('/homepage')">
                    <ion-text>个人主页</ion-text>
                </span>
            </p>
        </div>

    </div>
    <ion-grid text-center class="grid" padding-bottom margin-bottom>
        <ion-row padding-bottom>
            <ion-col (click)="jumpTo('/interests')">
                <ion-icon name="md-medal" color="warning"></ion-icon>
                <p>会员权益</p>
            </ion-col>
            <ion-col (click)="jumpTo('/relatives')">
                <ion-icon name="md-person-add" class="purple"></ion-icon>
                <p>添加亲友</p>
            </ion-col>
            <ion-col (click)="jumpTo('/info/bill-list', '0')">
                <ion-icon name="md-list-box" color="secondary"></ion-icon>
                <p>账单明细</p>
            </ion-col>
            <ion-col (click)="jumpTo('/invite/friend')">
                <ion-icon name="md-share" class="brown"></ion-icon>
                <p>邀请好友</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col (click)="jumpTo('/rescue_apply')">
                <ion-icon name="heart" class="lightred"></ion-icon>
                <p>救助申请</p>
            </ion-col>
            <ion-col (click)="jumpTo('/giving_apply')">
                <ion-icon name="md-rose" color="tertiary"></ion-icon>
                <p>乐捐申请</p>
            </ion-col>
            <ion-col (click)="jumpTo('/donationed')">
                <ion-icon name="md-contacts" class="blue"></ion-icon>
                <p>乐捐过的人</p>
            </ion-col>
            <ion-col (click)="jumpTo('/rescued')">
                <ion-icon name="md-contacts" class="orange"></ion-icon>
                <p>救助过的人</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-list lines="none" class="nav-list" no-margin>
        <ion-item no-padding justify-content-between (click)="jumpTo('/info/phone-change', userInfo.mobile)">
            <ion-label>手机号</ion-label>
            <ion-label text-right>{{this.userInfo.mobile}}
            </ion-label>
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item no-padding justify-content-between (click)="bindWechat()">
            <ion-label>微信</ion-label>
            <ion-label text-right>{{this.userInfo.openId ? '已绑定' : '未绑定'}}
            </ion-label>
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item no-padding justify-content-between (click)="jumpTo('/info/authentication')">
            <ion-label>身份认证</ion-label>
            <ion-label text-right>
                {{this.userInfo.nickname.value}}
                <small class="cert-status2">{{this.userInfo.certifying ? '已实名' : '去认证'}}</small>
            </ion-label>
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item no-padding justify-content-between (click)="jumpTo('/info/address')">
            <ion-label>收货地址</ion-label>
            <ion-label text-right>广东省珠海市高新区龙园... </ion-label>
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item no-padding justify-content-between (click)="jumpTo('/info/qr-code')">
            <ion-label>我的二维码</ion-label>
            <ion-icon name="md-expand" slot="end"></ion-icon>
        </ion-item>
        <ion-item no-padding justify-content-between (click)="jumpTo('/info/signature-edit','',userInfo.profile)">
            <ion-label>个人简介</ion-label>
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>