<ion-header>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="settings"></ion-back-button>
        </ion-buttons>
        <ion-title>关于</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="brand" text-center>
        <ion-avatar class="logo">
            <img src="../../../assets/imgs/about-logo.png" alt="">
        </ion-avatar>
        <h4 class="name">心安救助</h4>
        <p class="version">V1.0</p>
    </div>

    <ion-list class="settings-list" lines="none">
        <ion-item>
            <ion-label>用户使用协议</ion-label>
            <ion-icon name="ios-arrow-forward" slot="end"></ion-icon>
        </ion-item>
        <ion-item>
            <ion-label>检查更新</ion-label>
            <ion-label text-right>已是最新版本</ion-label>
        </ion-item>
    </ion-list>

    <div class="copyright">
        <p>@珠海横琴心安控股有限公司 版权所有 <br>
            Copyright © 2017 Yuejian Network <br>
            All Rights Reserved.</p>
    </div>
</ion-content>