ion-header {
    ion-toolbar {
        display: flex;
    }

    ion-title {
        font-size: 20px;
        font-weight: 500;
    }
}

p {
    font-size: 15px;
    font-weight: 500;
    line-height: 2;
    text-align: justify;
    color: #666666;
}