<ion-header>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(about:about)"></ion-back-button>
        </ion-buttons>
        <ion-title>确认订单</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <div class="addr"  [hidden]="!address.name">
        <ion-row>
            <ion-col size="1.5">
                <div class="serve">
                    <ion-icon name="pin" class="primary"></ion-icon>
                </div>
            </ion-col>
            <ion-col size="10">
                <ion-text class="name">{{address.name}}
                    <span>{{address.phone}}</span>
                </ion-text>
                <ion-text class="add">
                    {{address.province + address.city + address.district + address.address}}
                </ion-text>
            </ion-col>
        </ion-row>
    </div>
    <div class="pro-list">
        <ion-card *ngFor="let list of lists">
                <ion-row  [routerLink]="'/details/' + list.id">
                        <ion-col no-padding size="4">
                            <ion-img [src]="list.img"></ion-img>
                        </ion-col>
                        <ion-col no-padding size="8" class="pro-name">
                            <ion-text class="name">{{list.title}}</ion-text>
                            <ion-text class="add">
                                ￥{{list.price}}
                                <span>x{{list.num}}</span>
                            </ion-text>
                        </ion-col>
                    </ion-row>
        </ion-card>
    </div>
    <div class="lable">
        <ion-row>
            <ion-col>
                <ion-text>
                    可获积分<span>329</span>分
                </ion-text>
            </ion-col>
        </ion-row>
    </div>
</ion-content>

<ion-footer>
    <ion-row align-items-center class="total">
        <ion-text>
            合计：<span>￥{{totalPrice}}</span>
        </ion-text>
        <ion-col size="6">
            <ion-button (click)="payNow()" [disabled]="!address.id" expand="block">支付</ion-button>
        </ion-col>
    </ion-row>
</ion-footer>