<ion-header no-border>
    <ion-toolbar color="#6b9dff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(home:home)"></ion-back-button>
        </ion-buttons>
        <ion-title>80种重大疾病</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <p>第一类：与恶性肿瘤相关的疾病</p>
        <p>1、恶性肿瘤</p>
        <p>2、侵蚀性葡萄胎（或称恶性葡萄胎</p>
        <br />
        <br />
        <p>第二类：与心脏或血管相关的疾病</p>
        <p>3、急性心肌梗塞</p>
        <p>4、严重原发性肺动脉高压</p>
        <p>5、心脏瓣膜手术</p>
        <p>6、严重的原发性心肌病</p>
        <p>7、脑中风后遗症</p>
        <p>8、冠状动脉搭桥术（或称冠状动脉旁路移植术）</p>
        <p>9、主动脉手术</p>
        <p>10、严重感染性心内膜炎</p>
        <p>11、严重肺源性心脏病</p>
        <p>12、艾森门格综合症</p>
        <p>13、严重的Ⅲ度房室传导阻滞</p>
        <p>14、严重冠心病</p>
        <p>15、风湿热导致的心脏瓣膜病</p>
        <br />
        <br />
        <p>第三类：与器官功能严重受损相关的疾病</p>
        <p>16、重型再生障碍性贫血</p>
        <p>17、重大器官移植术或造血干细胞移植术</p>
        <p>18、双耳失聪</p>
        <p>19、慢性肝功能衰竭失代偿期</p>
        <p>20、双目失明</p>
        <p>21、系统性红斑狼疮并发肾功能损害</p>
        <p>22、语言能力丧失</p>
        <p>23、急性或亚急性重症肝炎</p>
        <p>24、严重溃疡性结肠炎</p>
        <p>25、终末期肾病（或称慢性肾功能衰竭尿毒症期）</p>
        <p>26、终末期肺病</p>
        <p>27、胰腺移植</p>
        <p>28、急性坏死性胰腺炎开腹手术</p>
        <p>29、严重肾髓质囊性病</p>
        <p>30、严重肝豆状核变性（Wilson病）</p>
        <p>31、严重自身免疫性肝炎</p>
        <p>32、严重弥漫性系统性硬皮病</p>
        <p>33、肺淋巴管肌瘤病</p>
        <p>34、肺泡蛋白质沉淀积症</p>
        <p>35、慢性复发性胰腺炎</p>
        <p>36、特发性慢性肾上腺皮质功能减退</p>
        <p>37、严重小肠疾病并发症</p>
        <p>38、严重的骨髓增生异常综合征</p>
        <p>
            39、严重克隆病
        </p>
        <p>
            40、骨髓纤维化
        </p>
        <p>
            41、严重哮喘
        </p>
        <p>
            42、小肠移植
        </p>
        <p>
            43、胆道重建手术
        </p>
        <br />
        <br />
        <p>
            第四类：与神经系统相关的疾病
        </p>
        <p>
            44、良性脑肿瘤
        </p>
        <p>
            45、脑炎后遗症或脑膜炎后遗症
        </p>
        <p>
            46、深度昏迷
        </p>
        <p>
            47、严重阿尔茨海默病
        </p>
        <p>
            48、瘫痪
        </p>
        <p>
            49、严重的多发性硬化
        </p>
        <p>
            50、严重帕金森病
        </p>
        <p>
            51、严重运动神经元病
        </p>
        <p>
            52、严重脑损伤
        </p>
        <p>
            53、非阿尔茨海默病所致严重痴呆
        </p>
        <p>
            54、植物人状态
        </p>
        <p>
            55、进行性核上性麻痹
        </p>
        <p>
            56、开颅手术
        </p>
        <p>
            57、亚急性硬化性全脑炎
        </p>
        <p>
            58、克雅氏病
        </p>
        <p>
            59、丧失一眼及一肢
        </p>
        <p>
            60、进行性多灶性白质脑病
        </p>
        <p>
            61、破裂脑动脉瘤夹闭手术
        </p>
        <p>
            62、脊髓小脑变性症
        </p>
        <br />
        <br />
        <p>
            第五类：其他重大疾病
        </p>
        <p>
            63、多个肢体缺失
        </p>
        <p>
            64、严重的Ⅰ型糖尿病
        </p>
        <p>
            65、严重Ⅲ度烧伤
        </p>
        <p>
            66、严重类风湿性关节炎
        </p>
        <p>
            67、象皮病
        </p>
        <p>
            68、经输血导致的艾滋病病毒感染或患艾滋病
        </p>
        <p>
            69、严重肌营养不良症
        </p>
        <p>
            70、弥漫性血管内凝血
        </p>
        <p>
            71、因职业关系导致的艾滋病病毒感染或患艾滋病
        </p>
        <p>
            72、嗜铬细胞瘤
        </p>
        <p>
            73、严重的原发性硬化性胆管炎
        </p>
        <p>
            74、因器官移植导致的艾滋病病毒感染或患艾滋病
        </p>
        <p>
            75、严重面部烧伤
        </p>
        <p>
            76、严重瑞氏综合征（Reye综合征，也称赖氏综合征、雷氏综合征）
        </p>
        <p>
            77、成骨不全症第三型
        </p>
        <p>
            78、多处臂丛神经根性撕脱
        </p>
        <p>
            79、原发性脊柱侧弯的矫正手术
        </p>
        <p>
            80、溶血性链球菌引起的坏疽
        </p>
    </div>
</ion-content>