<ion-header class="tab_heard">
    <ion-toolbar color="primary">
        <ion-title no-padding slot="start">发现</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="alert()">
                <ion-icon name="md-search"></ion-icon>
            </ion-button>
            <ion-button (click)="alert()">
                <ion-icon name="md-expand" (click)="alert()"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="header-nav">
        <ion-grid text-center class="grid" padding-bottom margin-bottom>
            <ion-row>
                <ion-col routerLink="/join_vip">
                    <ion-icon name="md-medal" color="warning"></ion-icon>
                    <p>加入会员</p>
                </ion-col>

                <ion-col (click)="alert()">
                    <ion-icon name="heart" class="lightred"></ion-icon>
                    <p>了解救助</p>
                </ion-col>

                <ion-col (click)="alert()">
                    <ion-icon name="md-rose" color="tertiary"></ion-icon>
                    <p>了解乐捐</p>
                </ion-col>
                <ion-col routerLink="/common_problem">
                    <ion-icon name="md-help-circle" class="wathet"></ion-icon>
                    <p>常见问题</p>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
    <div class="content-list">
        <ion-list>

            <ion-item no-padding>
                <ion-label>
                    <h1 class="name" routerLink="/notice">
                        <span class="serve-span">
                            <div class="serve serve2">
                                <ion-icon name="md-volume-mute" class="white"></ion-icon>
                            </div>
                            通知
                        </span>
                        <span class="right-span">
                            <ion-badge color="primary"> 3 </ion-badge>
                            <ion-icon name="ios-arrow-forward" class="gray"></ion-icon>
                        </span>
                    </h1>
                </ion-label>
            </ion-item>
            <ion-item no-padding>
                <ion-label>
                    <h1 class="name" routerLink="/share">
                        <span class="serve-span">
                            <div class="serve serve1">
                                <ion-icon name="md-share" class="white"></ion-icon>
                            </div>
                            分享心安
                        </span>
                        <span class="right-span">
                            <!-- <ion-badge color="primary"> 3 </ion-badge> -->
                            <ion-icon name="ios-arrow-forward" class="gray"></ion-icon>
                        </span>
                    </h1>
                </ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>