.credentials-box {

    .credentials {
        width: 100%;
        height: 102px;
        margin: 5px;
        position: relative;
        overflow: hidden;
    }
}

.camera-box {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: -20px;
    text-align: center;

    .icon-wrap {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #fff;
        padding: 6px;

        ion-icon {
            font-size: 28px;
        }
    }

    .des {
        padding: 10px;
        font-size: 12px;
        color: var(--ion-color-secondary);
    }
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

.pps {
    color: #999;
    font-size: 12px;
}