<ion-row class="credentials-box">
    <ion-col size="6" class="credentials">
        <img *ngIf="credentials" [src]="credentials" alt="">
        <img *ngIf="!credentials" src="../../../assets/imgs/bg_credentials.png" alt="">
        <div class="camera-box" *ngIf="!credentials">
            <div class="icon-wrap" (tap)="upload($event, 'photos', 1)" (pressup)="upload($event, 'camera', 1)">
                <ion-icon name="md-camera" color="secondary"></ion-icon>
            </div>
        </div>
        <img *ngIf="credentials" [src]="credentials" alt="图片加载失败">
        <ion-icon *ngIf="credentials" class="close-btn" name="close-circle" color="primary" (click)="clear()"></ion-icon>
    </ion-col>
</ion-row>

<p class="pps" padding-horizontal padding-top>说明： 长按可切换拍照</p>