.upLoad-img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
    background: blue;

    img {
        width: 80px;
        height: 80px;
        border-radius: 5px;
    }
}

ion-card {
    box-shadow: none;
}