<ion-header color="white">
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="info/authentication"></ion-back-button>
        </ion-buttons>
        <ion-title>身份认证</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- 采集信息 -->
    <ion-list class="info" lines="none" padding>
        <ion-item no-padding class="list-header">
            <ion-label>采集信息</ion-label>
        </ion-item>
        <ion-item no-padding>
            <ion-label position="stacked">证件姓名 <span class="text-danger">*</span></ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item no-padding>
            <ion-label position="stacked">身份证号码 <span class="text-danger">*</span></ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item no-padding>
            <ion-label position="stacked">出生日期</ion-label>
            <ion-datetime display-format="YYYY-MM-DD"></ion-datetime>
        </ion-item>
    </ion-list>

    <!-- 上传身份证 -->
    <ion-list class="idcard" lines="none" padding>
        <ion-item no-padding class="list-header" (click)="isShowIdcardBox = !isShowIdcardBox">
            <ion-label>上传身份证</ion-label>
            <ion-icon name="{{ isShowIdcardBox ? 'ios-arrow-down' : 'ios-arrow-forward'}}" color="medium"></ion-icon>
        </ion-item>
        <upload-idcard *ngIf="isShowIdcardBox"></upload-idcard>
    </ion-list>

    <!-- 上传相关证件/证明 -->
    <ion-list class="credentials" lines="none" padding>
        <ion-item no-padding class="list-header" (click)="isShowCredentialsBox = !isShowCredentialsBox">
            <ion-label>上传相关证件/证明</ion-label>
            <ion-icon name="{{ isShowCredentialsBox ? 'ios-arrow-down' : 'ios-arrow-forward'}}" color="medium"></ion-icon>
        </ion-item>
        <upload-credentials *ngIf="isShowCredentialsBox"></upload-credentials>
    </ion-list>
    <div class="btn-box">
        <ion-button color="secondary" expand="block" shape="round" (click)="alertMes()">确认</ion-button>
    </div>
</ion-content>