ion-header {

    ion-toolbar {
        display: flex;
    }

    ion-toolbar:first-child {
        background: #fff;
        box-shadow: 0px 2.5px 12px 0 rgba(153, 153, 153, 0.2);

    }
}

ion-content {
    --background: #fff !important;

    ion-list {
        margin: 0 0 16px 16px;
        // background-color: #e6e6e6;
        // padding-bottom: 0.5px;
    }

    ion-item {
        // --ion-item-border-color: #e6e6e6;
        background: #fff;
        // margin-bottom: 0.5px;
        // padding: 0 0 0 16px;
        border-bottom: 0.5px solid #e6e6e6;

        .name {
            font-size: 16px;
            color: #424242;
            line-height: 26px;
            margin: 5px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ion-icon {
                font-size: 24px;

            }
        }
    }
}

.gray {
    color: #ccc;
}