<ion-header>
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(about:about)"></ion-back-button>
        </ion-buttons>
        <ion-title>我的商城</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content no-padding>
    <ion-segment (ionChange)="segmentChanged($event)" mode="md" value="payment" color="primary">
        <ion-segment-button value="payment">待付款</ion-segment-button>
        <ion-segment-button value="harvest">待收货</ion-segment-button>
        <ion-segment-button value="finish">已完成</ion-segment-button>
    </ion-segment>
    
        <ng-container *ngIf="type === 'payment'"  >
            <div  class="payment" *ngFor="let orderList of orderLists">
                <ion-card >
                    <ng-container *ngFor="let detail of orderList.detail">
                            <pay-goods [data]="detail"></pay-goods>
                    </ng-container>
                    <ion-text>
                        <span>总额</span>
                        <span>￥{{orderList.totalprice}}</span>
                    </ion-text>
                    <ion-row class="row_order">
                        <ion-col size="5.5">
                            <ion-text>剩余支付时间</ion-text>
                            <ion-text>02小时31分钟26秒</ion-text>
                        </ion-col>
                        <ion-col size="3.5">
                            <ion-button (click)="cancel(orderList.id)" fill="outline" class="white" expand="block">取消订单</ion-button>
                        </ion-col>
                        <ion-col size="3">
                            <ion-button  (click)="pay(orderList)" expand="block">支付</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
           
        </ng-container>
        
        <ng-container *ngIf="type === 'harvest'">
            <div   class="harvest"  *ngFor="let orderList of orderLists" >
                <ion-card>
                        <ng-container *ngFor="let detail of orderList.detail">
                                <pay-goods [data]="detail"></pay-goods>
                        </ng-container>
                    <ion-text>
                        <span>总额</span>
                        <span>￥{{orderList.totalprice}}</span>
                    </ion-text>
                    <ion-row class="row_order">
                        <ion-col size="4">
                            <ion-button routerLink="/wait_pay/2" fill="outline" class="white" expand="block">订单详情</ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button routerLink="/logistics_detail" fill="outline" class="white" expand="block">查看物流</ion-button>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button routerLink="/wait_pay/2" expand="block">确认收货</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>

        </ng-container>
       
    
        <ng-container *ngIf="type === 'finish'" >
            <div  class="all" *ngFor="let orderList of orderLists" >
                <ion-card>
                        <ng-container *ngFor="let detail of orderList.detail">
                                <pay-goods [data]="detail"></pay-goods>
                        </ng-container>
                    <ion-text>
                        <span> 总额</span>
                        <span>￥{{orderList.totalprice}}</span>
                    </ion-text>
                    <ion-row class="row_order">
                        <ion-col size="6">
                            <ion-text>剩余支付时间</ion-text>
                            <ion-text>02小时31分钟26秒</ion-text>
                        </ion-col>
                        <ion-col size="4">
                            <ion-button routerLink="/wait_pay/2" fill="outline" class="white" expand="block">订单详情</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-card>
            </div>
        </ng-container>
        <ion-row>
            <ion-col class="nodata" *ngIf="orderLists.length == 0" text-center>
                没有订单啦 ♪(^∇^*)
            </ion-col>
           
        </ion-row>
   

    <ion-infinite-scroll #infiniteScroll  threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="加载更多...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>

<!-- <ion-footer *ngIf="type === 'payment'">
    <ion-row align-items-center>
        <ion-col size="5" class="col_total">
            <ion-text>
                <span>合计：</span>
                <span>￥168.00</span>
            </ion-text>
            <ion-text>原价: ￥168.00</ion-text>
        </ion-col>
        <ion-col size="7">
            <ion-button routerLink="/pay" expand="block">全部支付</ion-button>
        </ion-col>
    </ion-row>
</ion-footer> -->