<ion-header>
    <ion-toolbar color="#6b9dff" no-border>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(home:home)"></ion-back-button>
        </ion-buttons>
        <ion-title>救助资金池明细</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="top">
        <ion-row align-items-center>
            <ion-col>
                <p class="p11">全部（万元）</p>
                <h1>6251.98</h1>
            </ion-col>
        </ion-row>
        <ion-grid>
            <ion-row class="top-join">
                <ion-col size="6">
                    <p class="p11">流入(万元)</p>
                    <p class="p16">2710.36</p>
                </ion-col>
                <ion-col size="6">
                    <p class="p11">支出(万元)</p>
                    <p class="p16">3265.31</p>
                </ion-col>
            </ion-row>
            <ion-row class="top-join">

            </ion-row>
        </ion-grid>
    </div>
    <div class="content">
        <ion-list>
            <ion-item no-padding>
                <ion-label>
                    <h1 class="name">资金明细</h1>
                </ion-label>
            </ion-item>
            <ion-item no-padding>
                <ion-label>
                    <h1>资金明细 <span class="add">+36</span></h1>
                    <p>今天 04:37 <span>余额充值</span></p>
                </ion-label>
            </ion-item>
            <ion-item no-padding>
                <ion-label>
                    <h1>资金明细 <span class="add">+36</span></h1>
                    <p>昨天 04:37 <span>余额充值</span></p>
                </ion-label>
            </ion-item>
            <ion-item no-padding>
                <ion-label>
                    <h1>资金明细 <span class="add">+36</span></h1>
                    <p>2018-08-12 04:37 <span>账户积分充值</span></p>
                </ion-label>
            </ion-item>
            <ion-item no-padding>
                <ion-label>
                    <h1>资金明细 <span class="reduce">-1000</span></h1>
                    <p>2018-08-12 04:37 <span>大病****有爱</span></p>
                </ion-label>
            </ion-item>

        </ion-list>

    </div>
</ion-content>