<ion-header color="white">
    <ion-toolbar color="#fff">
        <ion-buttons slot="start">
            <ion-back-button text="" icon="md-arrow-back" default-href="tabs/(me:me)"></ion-back-button>
        </ion-buttons>
        <ion-title>修改个人信息</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list no-margin>
        <ion-item no-padding>
            <ion-label position="floating">昵称</ion-label>
            <ion-input type="text" required minlength="1" maxlength="500" #nameRef="ngModel" [(ngModel)]="userInfo.nickname"></ion-input>
        </ion-item>
        <ion-item no-padding>
            <ion-label position="floating">用户所在地</ion-label>
            <ion-input type="text" required minlength="1" maxlength="500" #nameRef="ngModel" [(ngModel)]="userInfo.city"></ion-input>
        </ion-item>
        <ion-item no-padding>
            <ion-label position="floating">心安用户编号</ion-label>
            <ion-input type="text" required minlength="1" maxlength="500" #nameRef="ngModel" [(ngModel)]="userInfo.identify_number"></ion-input>
        </ion-item>
    </ion-list>
    <div padding-vertical margin-top (click)="update()">
        <ion-button color="secondary" expand="block" shape="round">确 认</ion-button>
    </div>
</ion-content>