ion-header {
    color: #424242;

    ion-toolbar {
        display: flex;
    }

    ion-toolbar:first-child {
        background: #fff;
        box-shadow: 0px 2.5px 12px 0 rgba(153, 153, 153, 0.2);

        ion-title {
            font-size: 20px;
            color: #424242;
            font-weight: 500;
        }
    }
}

ion-content {
    background-color: #f7f7f7;

    ion-toolbar {
        display: flex;
    }

    .join-title {
        padding: 44px 0 10px;
    }

    .j-p1 {
        margin: 20px 0 9px;
    }

    .j-p2 {
        font-size: 11px;
        color: #999999;
        text-align: center;
        margin-bottom: 5.5px;
    }

    .j-p3 {
        font-size: 11px;
        padding-left: 16px;
        color: #999999;

        ion-icon {
            vertical-align: baseline;
            font-size: 13px;
        }
    }

    .join-content {
        padding: 20px 16px;

        ion-card {
            margin: 0;
        }

        .shared {
            margin: 16px 0;
            width: 100%;
        }
    }
}